.banner-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 25px 0 100px 0;
}

.left-banner {
    display: flex;
    align-items: center;
    /* border-right: 1px solid rgba(0, 0, 0, 0.13); */
    box-shadow: 0 2px 16px 0 rgb(0 0 0 / 10%);
}

.left-banner svg {
    width: 115px;
    margin: 23px 25px 32px 26px;
}

.left-content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 28px 0 0;
}

.left-content h3 {
    color: #2f3432;
    font-size: 20px;
    margin-top: 0;
}

.left-content p {
    color: #424e4e;
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 15px;
}

.left-btn-container {
    padding: 0;
    margin: 0;
}

.left-btn-container button {
    padding: 12px 19px 12px 19px;
    background-color: #ffc800;
    border: none;
    border-radius: 20px;
    color: #673500;
    font-weight: 700;
    cursor: pointer;
}

.left-btn-container i {
    color: #673500;
    font-size: 15px;
    margin-right: 5px;
}

.right-banner {
    border: 1px solid black;
}

.right-banner svg {
    width: 150px;
    
}

.right-content {
    display: flex;
    flex-direction: column;
}

.right-banner-label {
    display: flex;
}