.banner-container {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.left-banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 2px 16px 0 rgb(0 0 0 / 10%);
    padding: 32px 32px 36px;
}

.left-image {
    width: 115px;
}

.left-content {
   padding: 0 0 0 32px;
} 

.left-content h3 {
    font-size: 20px;
    color: #2f3432;
}

.left-content p {
    margin: 8px 0 16px;
    color: #424e4e;
    font-weight: 300;
}

.left-content button {
    padding: 12px 16px;
    font-size: 14px;
    font-weight: 500;
    background-color: #ffc800;
    color: #673500;
    border: none;
    border-radius: 100px;
}

.right-banner {
    box-shadow: 0 2px 16px 0 rgb(0 0 0 / 10%);
    padding: 32px 32px 36px;
}

.right-content {
    display: flex;
    flex-direction: column;
}

.right-content svg {
    width: 150px; 
    fill: #0074ba; 
}

.right-content p {
    margin: 8px 0 16px;
    color: #424e4e;
    font-weight: 300;
}

.right-content button {
    padding: 12px 30px;
    background-color: #0074ba;
    color: white;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 100px;
}

.right-content button i{
    color: white;
    margin-left: 5px;
}
