.header {
  background-color: #149777;
  width: 100%;
  color: white;
}

.top {
  width: 100%;
}

.wrapper {
  padding-top: 10px;
  padding-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.bar {
  display: none;
}

.bar i {
  font-size: 26px;
  padding-bottom: 4px;
}

.logo {
  margin-right: 12px;
}

.logo img {
  width: 133px;
  cursor: pointer;
}

.add {
  margin-right: 24px;
}

.add p {
  font-weight: 700;
}

.btn-group button {
  background-color: #149777;
  border: 1px solid #007168;
  color: white;
  padding: 8px 15px;
  cursor: pointer;
  float: left;
}

.btn-group #btn-1 {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.btn-group #btn-2 {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.chat {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.chat svg {
  width: 35px;
  fill: white;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.login svg {
  width: 35px;
  fill: white;
}

.chat,
.login p {
  font-size: 14px;
  font-weight: 300;
}

.button button {
  padding: 15px 8px 13px 8px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #673500;
  background-color: #ffc800;
  border: none;
  border-radius: 5px;
}

.bottom {
  width: 100%;
  padding-top: 20px;
}

.container {
  width: 100%;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.location-content {
  background-color: #10846f;
  padding: 5px 15px 9px 15px;
  border-radius: 30px;
}

.location-content i {
  font-size: 18px;
  margin-right: 2px;
  margin-top: 3px;
}

.location-content label {
  font-weight: 400;
}

.search {
  display: flex;
  flex-direction: row;
  padding-left: 18%;
  padding-right: 18%;
}

.search-content {
  width: 100%;
  position: relative;
  margin-top: 18px;
  margin-bottom: 45px;
}

.search-content input {
  width: 100%;
  font-size: 18px;
  font-weight: 300;
  padding: 20px;
  border: none;
  border-radius: 32px;
  outline: none;
}

.search-content i {
  background-color: #ffc800;
  color: #625a30;
  font-size: 25px;
  padding: 15px;
  border-radius: 31px;
  position: absolute;
  top: 4px;
  right: 3px;
}

@media (max-width: 850px) {
  .left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .chat {
    margin-right: none;
  }

  .chat svg,
  .login svg {
    cursor: pointer;
  }

  .chat p,
  .login p {
    display: none;
  }

  .bar {
    display: block;
    cursor: pointer;
    margin-left: 10px;
  }

  .add,
  .button {
    display: none;
  }

  .btn-group {
    display: none;
  }

  .bottom {
    padding-top: 8px;
  }

  .search {
    display: flex;
    flex-direction: row;
    padding-left: 3%;
    padding-right: 3%;
  }

  .search-content {
    position: relative;
    margin-bottom: 28px;
  }

  .search-content input {
    font-size: 17px;
    padding: 13px;
  }

  .search-content i {
    font-size: 20px;
    padding: 10px;
    position: absolute;
    top: 4px;
    right: 3px;
  }
}

@media (max-width: 500px) {
  .header {
    width: 100%;
  }
}
